@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Kanit|Open+Sans|Patua+One|Righteous|Roboto&display=swap');

$roboto-font: 'Roboto', sans-serif;
$open-font: 'Open Sans', sans-serif;
$righteous-font: 'Righteous', cursive;
$kanit-font: 'Kanit', sans-serif;
$francois-font: 'Francois One', sans-serif;
$patua-font: 'Patua One', cursive;

$base-color: #E41200;
$base-color-focused: #B10E00;
$base-color-faded: #f06359;
$base-shadow: 2px 9px 20px rgba(0, 0, 0, .8);
$base-discret-shadow: 0px 3px 6px rgba(0, 0, 0, .4);
//$base-color-compliment:
$base-discret-shadow-reverse: 0px -3px 6px rgba(0, 0, 0, .4);
//$base-color-compliment: 
